<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom.css">
</head>
<body>

  <!-- Custom Banner -->
  <div class="custom-banner" style="background-image: url('{{ site.baseurl }}/assets/images/header_image.jpeg');">
    <h1>{{ page.title }}</h1>
    <h3>{{ page.subtitle }}</h3>
      <!-- Navigation Bar -->
    <nav>
        <a href="{{ site.baseurl }}/README.html">Home</a>
        <div class="dropdown">
          <button class="dropbtn">Project Layout</button>
          <div class="dropdown-content">
            <a href="{{ site.baseurl }}/README.html#data-cleaning-and-exploratory-analysis">Data Cleaning and EDA</a>
            <a href="{{ site.baseurl }}/README.html#assessment-of-missingness">Data Missingness</a>
            <a href="{{ site.baseurl }}/README.html#hypothesis-testing">Hypothesis Testing</a>
            <a href="{{ site.baseurl }}/README.html#baseline-model">Baseline Model</a>
            <a href="{{ site.baseurl }}/README.html#final-model">Final Model</a>
            <a href="{{ site.baseurl }}/README.html#fairness-analysis">Fairness Analysis</a>
          </div>
      </div>
        <a href="{{ site.baseurl }}/about.html">About Us</a>
    </nav>
  </div>

  <!-- Main Content -->
  <div class="content">
    {{ content }}
  </div>
  
  <!-- Footer -->
  <footer>
    &copy; University of California - San Diego:  Data Science in Practice Final Project
  </footer>
</body>
</html>
