<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom.css">
</head>
<body>

  <!-- Custom Banner -->
  <div class="custom-banner" style="background-image: url('{{ site.baseurl }}/assets/images/header_image.jpeg');">
    <h1>{{ page.title }}</h1>
    <h3>{{ page.subtitle }}</h3>
      <!-- Navigation Bar -->
    <nav>
        <a href="{{ site.baseurl }}/README.md">Home</a>
        <a href="{{ site.baseurl }}/about.html">About Us</a>
        <a href="{{ site.baseurl }}/citations.html">Cited Works</a>
        <a href="{{ site.baseurl }}/resources.html">Other Resources</a>
    </nav>
  </div>

  <!-- Main Content -->
  <div class="content">
    {{ content }}
  </div>
  
  <!-- Footer -->
  <footer>
    &copy; University of California - San Diego:  Data Science in Practice Final Project
  </footer>
</body>
</html>
